<div class="titles">
  <a href="#admin"><p class="back"><i class="fa fa-arrow-circle-o-left"></i> Back</p></a>
  <h3><i class="fa fa-edit"></i> Edit story / <%= model.title %></h3>
</div>
<dl class="tabs" data-tab>
  <% _.each(languages, function(language, key) { %>
  <dd <% if(key == 0) { %>
        class="active"
      <% } %>
    ><a href="#panel-<%= language %>"><%= language %></a>
  </dd>
  <% }); %>
</dl>
<form id="edit-story">
  <div class="row">
      <div class="large-8 columns edit-form">
        <div class="tabs-content">
          <% _.each(languages, function(language, key) { %>
          <div class="content <% if(key == 0) { %>active<% } %>" id="panel-<%= language %>">
            <div class="row">
              <div class="large-12 columns">
                <label>Story Title
                  <input type="text" name="<%= language %>[title]" placeholder="Title of your story" value="<%= model[language]['title'] %>" />
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <label>Description
                  <textarea style="height:200px" name="<%= language %>[description]" placeholder="Your story goes here..."><%= model[language]['description'] %></textarea>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <label>Image url ( optional )
                  <input type="text" name="<%= language %>[image]" placeholder="Image link attached to the story" <% if( model[language].image ){ %> value="<%=model[language].image %>" <% } %> />
                </label>
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                <div style="text-align: center;" class="image-container">
                    <% if( model[language].image ){ %>
                    <image src="<%= model[language].image %>"/>
                    <% } %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                <label>Video url ( optional )
                  <input type="text" name="video" placeholder="Video link attached to the story" <% if( video ){ %> value="<%=model[language].video %>" <% } %> />
                </label>
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns video-container">
                <% if( video ){ %>
                <iframe class='youtube-player' type='text/html' width='100%' height='385' src='http://www.youtube.com/embed/<%= video %>' allowfullscreen frameborder='0'>
                </iframe>
                <% } %>
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                 <input type="submit" class="button success" value="Save"/>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
      <div class="large-4 columns qr-code-print">
        <div id="qrcode">
        </div>
        <p class="qr-title">Scan this with WeLviv<p>
      </div>
  </div>
</form>


